*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .2s linear;
}
i{
    cursor: pointer;
}


html,body {
    overflow-x: hidden;
    margin: 0;
   
  }
  
html::-webkit-scrollbar {
    width: 0.8rem;
    
}
  
html::-webkit-scrollbar-track {
    background: #eee;
}
  
html::-webkit-scrollbar-thumb {
    background: #0984e3;
    border-radius: 5rem;
}
  

.header{
    
    position:fixed;
    z-index: 1000;
    top: 0;right: 0;left: 0;
    box-shadow: 0 10px 10px -4px rgb(0 0 0 / 12%);
    padding: 14px 6%;
    background-color: white;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
   
}

form{
    display: flex;
    margin: 0 6px 0 66px;
    flex-grow: 1;
   
}
.find{
    flex-grow: 1;
    position: relative;
    border: 1px solid #c7c7cd;
}
.find input{
    width: 100%;
    padding: 7px 0 7px 30px;
    font-size: 14px;
    font-weight: 700;
    border: transparent;
}

.find i{
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 18px;
    font-weight: 700;
}
form .search-btn{
    margin-left: 8px;
    padding: 7px 15px;
    background-color: #f68b1e;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    border: transparent;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}
.nav-items{
    display: flex;
}


.nav-items .nav-card{
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    padding: 5px;
    position: relative;
}


.extra-nav-items{
    border-radius: 6px;
    display: none;
    width: 180px;
    position: absolute;
    top: 40px;
    left: -20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.extra-nav-items.active{
    display: block;
}
.extra-nav-items .extra-btn-1{
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 2px solid #ededed;

}
.extra-nav-items .extra-btn-1 a{
    flex-grow: 1;
    margin: 10px;
    padding: 6px 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    background-color: #f68b1e;
    color: white;
    border: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: initial;
}

.extra-nav-items .extra-icon{
    display: flex;
    align-items: center;
    margin: 10px;
    font-weight: initial;
}

.extra-logout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px;
    font-weight: initial;
}


.extra-logout a{
    color:#282828;
    cursor: pointer;
    text-decoration: none;
}
.extra-logout a:hover{
    color: #f68b1e;
    cursor: pointer;
}



.extra-nav-items .extra-icon:hover{
    cursor: pointer;
    color: #f68b1e;
}
.extra-nav-items .extra-icon i{
    margin-right: 9px;
}


.nav-items .nav-card i{
    font-size: 19px;
    font-weight: 700;
}

.user-items:hover,.help-items:hover{
    color: #f68b1e;
    cursor: pointer;
}
.cart-items{
    cursor: pointer;
}
.cart-items a{
    color: #282828;
    text-decoration: none;
}
.cart-items a:hover{
    color: #f68b1e;
    cursor: pointer;
}
.logo{
    font-size: 23px;
    font-weight: 900;
    text-decoration: none;
    color: #282828;
}
.logo i{
    color: #f68b1e;
}
.mobile-header{
    display: none;
}
.sidebar{
    display: none;
}



.hero-image{
    display: flex;
    padding: 14px 6%;
    margin-top: 80px;
    background-color: #EBF0CE;
    height: 400px;
    /* height: 75vh;*/
   
}
.hero-categories{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
    background-color: white;
    min-width: 200px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}
.hero-container{
    flex-grow: 1;
    position: relative;
    height: 100%;
}
.hero-wrapper{
    display: flex;
    height: 100%;
}

.slide{
    height: 100%;
    display: flex;
    width: 100%;
}

.slide img{
    height: 100%;
    object-fit: fill;
    width: 100%;
}


.swiper-pagination{
    text-align: center;
    position:absolute;
    bottom: 10px;
    right: 0;
    left: 0;

}
.dot{
    background-color: #bbb;
    height: 9px;
    width: 9px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}
.dot.active{
    background:#f68b1e;
}

.hero-categories .items{
    margin: 10px 0;
}
.hero-categories .items i{
    margin-right: 6px;
}

.product-container{
    margin-bottom: 25px;
   
    padding: 14px 6%;
   
}
.product-categories{
    background: #FEE2CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.top-deal-card{
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
}
.product-card img{
    height: 64%;
    width: 100%;
    object-fit: fill;
}
.product-card .text{
    height: 30%;
    padding: 5px 7px;
}
.product-card .headings{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 800;
    margin-bottom: 6px;
}
.product-card .price-card{
    font-size: 0.9rem;
}
.price-card .discount{
    color: gray;
    text-decoration: line-through;
}
.top-deal-card .top-deal-1{
    margin-right: 5px;
    font-weight: 900;
}
.see-all{
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}
.see-all:hover{
    color: #f68b1e;
}
.see-all i{
    margin-left: 5px;
}

.product-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: repeat(auto,350px);
    grid-auto-rows: 240px;
    gap: 1.0rem;
}
.product-wrapper .product-card{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    margin-top: 4px;
    text-decoration: none;
    color: unset;
 
}

.footer{
    padding: 16px 6%;
    background-color: #282828;
    color: white;
}
.footer .footer-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,1fr));
    grid-template-rows: repeat(2,auto);
    grid-auto-rows: auto;
    gap: 1.0rem;
   
}
/*.footer .footer-card{
}*/
.footer .f-headline{
    font-weight: 900;
    padding-bottom: 16px;
    font-size: 14px;
}
.footer .f-item{
    margin-bottom: 4px;
    font-size: 14px;
}
.footer .f-item a{
    text-decoration: none;
    color: #c7c7cd;;
}
.footer .f-item a:hover{
    color: #f68b1e;
    text-decoration: underline;
}
@media screen and (max-width:1120px) {
    
    .help-card{
        display: none;
    }
    form{
        margin-left: 16px;
    }
}

@media screen and (max-width:900px) {
    
    .header{
        display: none;
    }

    .mobile-header{   
        position:fixed;
        z-index: 70;
        top: 0;right: 0;left: 0;
        box-shadow: 0 10px 10px -4px rgb(0 0 0 / 12%);
        padding: 14px 6%;
        display: flex;
        flex-direction: column;
        background-color: white;
        
    }
    .mobile-nav-1{
        display: flex;
        justify-content: space-between;
        
    }
    .mobile-nav-1 .fa-bars,.fa-user,.fa-cart-shopping{
        font-size: 18px;
        font-weight: 700;
    }
    .mobile-nav-1 .fa-star{
        font-size: 18px;
        font-weight: 700;
        color: #f68b1e;
    }
    .mobile-nav-card1{
        display: flex;
        align-items: center;
    }
    .mobile-nav-card1 span{
        font-size: 23px;
        font-weight: 900;
       margin-left: 8px;
    }
    .mobile-nav-card2{
        display: flex;
        align-items: center;
    }
    .mobile-nav-card2 i{
        margin-left: 12px;
       
    }
    .mobile-nav-card2 i:hover{
        color: #f68b1e;
        cursor: pointer;
    }
    .mobile-nav-2{
        border: 1px solid #c7c7cd;
        display: flex;
        margin: 0;
        position: relative;
        margin-top: 10px;
    }
    .mobile-nav-2 input{
        flex-grow: 1;
        padding: 7px 0 7px 30px;
        font-size: 14px;
        font-weight: 700;
        border: transparent;
    }
    .mobile-nav-2 i{
        position: absolute;
        top: 8px;
        left: 8px;
        
    }
    .sidebar{
       display: block;
        position: fixed;
        background-color: white;
        z-index: 100;
        left: 0;top: 0;
        width: 88vw;
        height: 100%;
        transform: translate(-100%);
        transition: transform 300ms ease-in-out;
        overflow-y: scroll;
    }
        
    .sidebar::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    .sidebar::-webkit-scrollbar-track {
        background: #eee;
    }
    
    .sidebar::-webkit-scrollbar-thumb {
        background: #0984e3;
        border-radius: 5rem;
    }
    #sidebar.active{
        transform: translate(0);
        -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
    }
    .sidebar-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 10px 10px -4px rgb(0 0 0 / 12%);
        padding: 14px 6%;
    }
    .close-icon i{
        font-size: 26px;
        font-weight: 900;
        padding: 8px;
    }
    .close-icon i:hover{
        transform: rotate(360deg);
        color: #f68b1e;
        transition: all 0.4s linear;
    }
    .sidebar-nav{
        padding: 10px 20px;
    }
    .sidebar-nav a{
        color: black;
        text-decoration: none;
    }
    .nav-headings{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .nav-headings h2{
        color: #f68b1e;
    }
    .nav-headings i:hover{
        color: #f68b1e;
    }
    .nav-headings h2,.nav-headings i{
        font-size: 0.8rem;
    }
    .sidebar-nav .items{
        margin: 6px 0;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    .sidebar-nav .items i{
        margin-right: 5px;
    }
    .sidebar-nav .items:hover{
        color:#f68b1e;
    }
    .hero-categories{
        display: none;
    }
    .hero-image{
        margin-top: 120px;
        height: 50vh;
    }
    

}